/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
04-Docker-Compose/app-laravel-docker/laravel/.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
!/04-Docker-Compose/app-laravel-docker/laravel/.env
!/04-Docker-Compose/app-laravel-docker/.env
